//-------------------------------//
//             COLORS            //
//-------------------------------//

$light-c: #e5e5e5; //theme light
$lighter-c: #ffffff; //white
//$dark-c: #11565a; // theme dark
$primary-c: #1fa7b0;
$secondary-c: #ff8a00;
$body-bg-c: #e5e5e5; //background color
//-------------------------------//
//          TEXT-COLORS          //
//-------------------------------//
$text-c: #08322c;
$text-light: #ffffff;
$text-gray: #637875; //placeholders and locations name description
$text-orange: #ff8a00; //prices
$text-green: #1fa7b0; //adding stuff

//-------------------------------//
//          ICON-COLORS          //
//-------------------------------//
// UTILITY FOLDER WITH CLASSES TO USE REAL QUICK
//What icons am I gonna use?
//probably search icon
// plus
// minus
// trash icon
// caret
// maybe the star for rating

// meatball emnus three dots
//check icon for radio buttons
//#FF2222 delete and stuff
