h1,
h2,
h3 {
  margin: 0;

  font-weight: 400; // regular text
  color: $text-c;
}
h1,
.h1 {
  //welcome, where do you want to eat
  margin-bottom: $space-xxs;
  font-size: $text-xl; //24 px
  font-weight: 700;
  line-height: $heading-line-height;
}

h2,
.h2 {
  //categories
  margin-bottom: $space-xxs;

  font-size: $text-nm; //16px
  font-weight: 600;
  line-height: $heading-line-height;
}

h3,
//about, opening hours
.h3 {
  font-weight: 600;
  color: $text-c;
  font-size: $text-sm;
}
